<HEAD>
<TITLE>SCSI-2 Spec - Index</TITLE>
</HEAD>

<BODY>
<A HREF="SCSI2-E.html"><IMG SRC="Icons/prev-small.gif"></A>
<A HREF="SCSI2.html"><IMG SRC="Icons/up-small.gif"></A>
<HR>


<H1>Index</H1>

<PRE>
3rdPty bit. . . . . . . . . . . . . . . . . . . . . 188, 191, 253, 254, 398-401
ABORT . . . . 3, 36, 38, 41, 43, 44, 49, 52, 55-59, 64, 76, 79, 80, 82, 85, 422
ABORT TAG . . . . . . . . . . . . . . . . 3, 41, 52, 55, 56, 58, 64, 76, 79, 85
absolute CD-ROM address field . . . . . . . . . . . . . . . . . . . . .319, 324
access bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 394-396
active format field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
active I/O process. . . . . . . . . . . . . . . . . . . . . . . . . . 3, 51, 54
active notch field. . . . . . . . . . . . . . . . . . . . . . . . 210, 218, 221
active partition field. . . . . . . . . . . . . . . . . . . . . . . . .266, 267
actual retry count field. . . . . . . . . . . . . . . . . . . . . . . . . . 126
additional length field . . . . . . . . . . . . . . . . . . . . . . . . . . 107
additional partitions defined field . . . . . . . . . . . . . . . . . . . . 269
additional sense code field . . . . . . . . . . . . . . . . . . . 123, 124, 392
additional sense code qualifier . . . . . . . . . . . . .123, 124, 302, 392-395
ADDRESS MARK NOT FOUND FOR DATA FIELD . . . . . . . . . . . . . . . . .130, 430
ADDRESS MARK NOT FOUND FOR ID FIELD . . . . . . . . . . . . . . . . . .130, 430
address to translate field. . . . . . . . . . . . . . . . . . . . . . . 206-208
ADR field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 302, 318, 324
advanced scan algorithm . . . . . . . . . . . . . . . . . . . . . . . . . . 362
AEN . . . . . . . . . . . . . . .xxv, 5, 81-83, 89, 95, 126, 127, 150, 151, 290
AENC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 82, 107
AFC . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .282, 283
Allocation Length . . 67, 72, 73, 75, 95, 104, 107, 111, 112, 115, 117-119, 121,
                      122, 124, 155-159, 183, 185, 289, 314, 316, 323, 341, 343, 
                      364, 366, 388, 389, 391, 396, 397, 414, 415
allocation length field . . . . . . . . . . . . . . . . . . . . . . . . 75, 111
alternate sector. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 207
alternate sectors per zone field. . . . . . . . . . . . . . . . . . . . . . 218
alternate track . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 208
alternate tracks per logical unit field . . . . . . . . . . . . . . . . . . 218
alternate tracks per zone . . . . . . . . . . . . . . . . . . . . . . . 216-218
alternate volume tag. . . . . . . . . . . . . . . . . . . . . 382, 391-395, 402
alternate volume tag information field. . . . . . . . . . . . . . . . . . . 391
ALTSEC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 207
ALTTRK bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 208
ANSI-approved version field . . . . . . . . . . . . . . . . . . . . . . . . 106
APRVal. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .327, 328
Arbitration Delay . . . . . . . . . . . . . . . . . . . . .3, xxxi, 36, 42, 421
ARBITRATION Phase . . . . . . . . . . . . . .33, 34, 36, 37, 41-43, 59, 86, 421
ARRE bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 223
ASA . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 362
ASC . . . . . . . . . . . . . . 1, xxii, xxvii, 106, 124, 130-133, 135, 429-434
ASCII forms control . . . . . . . . . . . . . . . . . . . . . . . . . . . . 283
ASCII Implemented Operating Definition Page . . . . . . . . . . . . . . . . 155
ASCII information field . . . . . . . . . . . . . . . . . . . . . . . . . . 156
ASCII operating definition description data field . . . . . . . . . . . . . 155
ASCQ. . . . . . . . . . . . . . . . . . xxii, xxvii, 124, 130-133, 135, 429-434
Assertion Period. . . . . . . . . . . . . . . . . . . . . . 36, 38, 45, 46, 425
asynchronous event notification . . xxxi, 5, 27, 56, 61, 81-83, 107, 126, 145, 
                                    149, 151, 238, 241, 290
attention condition . . . . . . . . 33, 48-51, 56, 59, 63, 79, 81, 82, 85, 88, 
                                    89, 94, 95, 104, 110, 112, 128, 138, 142, 
                                    148, 150, 151, 188, 230, 253, 264
AUDIO PLAY OPERATION IN PROGRESS. . . . . . . . . . . . . . . . . 130, 318, 429
AUDIO PLAY OPERATION PAUSED . . . . . . . . . . . . . . . . . . . 130, 318, 429
AUDIO PLAY OPERATION STOPPED DUE TO ERROR . . . . . . . . . . . . 130, 318, 429
AUDIO PLAY OPERATION SUCCESSFULLY COMPLETED . . . . . . . . . . . 130, 318, 429
audio playback rate valid . . . . . . . . . . . . . . . . . . . . . . . . . 328
audio status field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 317
auto bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .339, 345
autofd. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .280, 282
automatic line feed . . . . . . . . . . . . . . . . . . . . . . . . . . . . 282
automatic read reallocation . . . . . . . . . . . . . . . . . . . . . . . . 223
automatic velocity control. . . . . . . . . . . . . . . . . . . . . . . . . 267
automatic write reallocation. . . . . . . . . . . . . . . . . . . . . . . . 222
available data buffer field . . . . . . . . . . . . . . . . . . . . . . . . 342
AVC . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .266, 267
AVolTag . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 391-393
AWG . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 5, 9, 425
AWRE bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 203, 223, 231
basic measurement unit field. . . . . . . . . . . . . . . . . . . . . . . . 354
baud rate field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 286
beginning of partition. . . . . . . . . . . . . . . . . . . . . . . . . . . 250
BEGINNING-OF-PARTITION/MEDIUM DETECTED. . . . . . . . . . . . . . . . .130, 429
BIS . . . . . . . . . . . . . . . . . . . . . . . . . . . . .249, 266, 267, 363
bit ordering field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 346
bit pointer field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 125
bit pointer valid . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 125
bits per character field. . . . . . . . . . . . . . . . . . . . . . . . . . 286
bits per pixel field. . . . . . . . . . . . . . . . . . . . . . . . . . . . 346
BLANK CHECK . . . . .102, 129, 247, 257, 294, 304, 307, 326, 358, 367, 370, 376
blank verify. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .299, 370
BlkVfy. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 299, 370, 371
block address type. . . . . . . . . . . . . . . . . . . . . . . . . . .245, 249
block descriptor. .  xxii, 113, 115, 116, 124, 146-148, 161, 208, 209, 246, 
                     259, 263, 264, 279, 280, 298, 325, 326, 337, 349, 351, 
                     353, 375, 376, 404, 418
block descriptor length . . . . . . . . . . . . . . . . . . . . . . . . . . 147
block device logical block address field. . . . . . . . . . . . . . . . . . .99
block device number of blocks field . . . . . . . . . . . . . . . . . . . . .99
block identifiers supported . . . . . . . . . . . . . . . . . . . . . . . . 267
block length field. . . . . . . . . . . . . . . . . . . . . .101, 124, 148, 246
block length in bytes . . . . . . . . . . . . . . . . . . . .182, 183, 246, 259
block position unknown. . . . . . . . . . . . . . . . . . . . . . . . . . . 250
BLOCK SEQUENCE ERROR. . . . . . . . . . . . . . . . . . . . . . . . . .130, 430
BOP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 236-240, 249, 250
BPU . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .249, 250
BPV bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 125
brightness field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 345
BT. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .245, 249
buffer capacity field . . . . . . . . . . . . . . . . . . . . . . 119, 120, 137
buffer empty ratio field. . . . . . . . . . . . . . . . . . . . . . . . . . 152
buffer full ratio field . . . . . . . . . . . . . . . . . . . . . . . . . . 152
buffer ID field . . . . . . . . . . . . . . . . . . . . . . . . . . . .119, 137
buffer offset field . . . . . . . . . . . . . . . . . . . . . . . . . .119, 120
Buffer Over-Run/Under-Run Page. . . 143, 208, 262, 279, 291, 325, 352, 375, 418
buffered mode field . . . . . . . . . . . . . . . . . . . . . . . 259, 263, 280
Bus Clear Delay . . . . . . . . . . . . . . . . . . . . 36, 41-43, 51, 421, 423
BUS DEVICE RESET. . . . . . .3, 41, 49, 50, 55, 57-59, 65, 67-69, 76, 79, 82, 
                             83, 85, 88, 112, 116, 132, 179, 189-191, 254, 
                             399-401, 431
Bus Free Delay. . . . . . . . . . . . . . . . . . . . . . . . . 36, 37, 42, 421
BUS FREE Phase. . 3, 4, 36, 37, 41-44, 49-52, 57-60, 64, 66, 68, 69, 77, 84, 
                  86, 421, 423
Bus Set Delay . . . . . . . . . . . . . . . . . . . . . . . . . 36, 37, 42, 421
Bus Settle Delay. . . . . . . . . . . . . . . . . . .36, 37, 41-44, 49, 421-423
BUSY status . . . . . . . . . . . . . . . . . . . . . 82-85, 127, 287, 339, 411
BytChk bit. . . . . . . . . . . . . . . . . . . . . . . 103, 200, 203, 370, 374
byte check. . . . . . . . . . . . . . . . . . . . . . . 103, 200, 203, 370, 374
byte count of descriptor data available field . . . . . . . . . . . . . . . 391
byte count of report available field. . . . . . . . . . . . . . . . . . . . 389
byte transfer length field. . . . . . . . . . . . . . . . . . . . . . .185, 204
C/D bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 125
Cable Skew Delay. . . . . . . . . . . . . . . . . . . . 36-38, 45, 46, 422, 425
Caching Page  . . . . . . . . . . . . . . . . . . . . . . . . . . 210, 327, 377
CAF . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .266, 267
CANNOT READ MEDIUM - INCOMPATIBLE FORMAT. . . . . . . . . . . . . . . .130, 431
CANNOT READ MEDIUM - UNKNOWN FORMAT . . . . . . . . . . . . . . . . . .130, 431
CAP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 266
CARTRIDGE FAULT . . . . . . . . . . . . . . . . . . . . . . . . . . . .130, 432
cat bit . . . . . . . . . . . . . . . . . . . . . . . . . . . .xxi, 96, 99, 102
catenate. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .99
cause field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . xxii, 144
CD-ROM Audio Control Page . . . . . . . . . . . . . . . . . . . . . . . . . 327
CD-ROM devices. xxx, 124, 297, 299, 304, 305, 313, 325, 326, 328, 330, 336, 357
CD-ROM Page . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 327
change active format. . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
change active partition . . . . . . . . . . . . . . . . . . . . . . . . . . 266
CHANGE DEFINITION command . . . . . . . . . . . . xxi, 79, 93-95, 104, 156, 164
change partition. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 245
CHANGED OPERATING DEFINITION. . . . . . . . . . . . . . . . . . . .79, 130, 432
channel bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .277, 283
channel volume control. . . . . . . . . . . . . . . . . . . . . . . . . . . 329
CHECK CONDITION status. . . . . 3, 47, 49, 52, 60, 71, 75, 80-82, 88, 92, 95,
                                98, 99, 101, 102, 104, 108-113, 115-117, 119, 
                                122, 125-127, 134, 135, 137, 139, 140, 142, 
                                143, 145, 149, 153, 162, 166, 169, 170, 
                                172-174, 176, 182-185, 187, 188, 190, 191, 
                                193, 194, 197, 199, 200, 203-206, 218, 223-226,
                                228, 230, 233, 240, 243-247, 251-253, 255-262, 
                                267, 271, 276-278, 287, 293, 302-304, 306, 307, 
                                309, 310, 312, 323, 331-335, 339, 347-349, 354, 
                                358, 363, 367, 370, 371, 374, 376, 378, 384, 
                                385, 386, 398-401, 407, 408, 411
CIRC UNRECOVERED ERROR. . . . . . . . . . . . . . . . . . . . . . . . .130, 430
CLEANING CARTRIDGE INSTALLED. . . . . . . . . . . . . . . . . . . . . .130, 431
CLEAR QUEUE . . . . . . . . . . . . . . . . . 3, 41, 55, 56, 58, 59, 76, 79, 85
clear to send . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 286
CmpLst bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . 170, 171, 173
code field. . . xxii, xxiv, 73, 97, 104, 112, 116, 121, 123-125, 139-141, 143, 
                144, 148, 149, 156, 158, 208, 209, 256, 263, 264, 279, 280, 
                298, 325, 326, 353, 375, 376, 388, 391, 392, 397, 398, 401, 
                402, 404, 418
command code. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .73, 74
COMMAND COMPLETE. . . . . . .3, 41, 52, 55, 59, 62, 75, 77, 78, 83, 86, 94, 423
command data. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .125, 317
command descriptor block. . . xxi, 3, 50, 54, 67, 72-77, 80, 86, 99-102, 107, 
                              118, 122, 124, 125, 128, 137, 140, 141, 146-148, 
                              156-158, 173, 178, 182, 188, 195, 198, 199, 219, 
                              243-245, 255, 258, 261, 272, 313, 362, 389
COMMAND Phase . . . . . . . 41, 48, 50, 61, 75, 77, 83, 127, 130, 422, 423, 432
COMMAND PHASE ERROR . . . . . . . . . . . . . . . . . . . . . . . . . .130, 432
command queue . . . . . . . . . . . . . . . . . . . . . 3, 4, 64, 67, 77, 83-86
COMMAND SEQUENCE ERROR. . . . . . . . . . . . . . . . . . . . . . . . .130, 431
COMMAND TERMINATED status . . . . . . . . . . 61, 67, 76, 82, 83, 122, 126, 128
command-specific information field. . . . . . . . . . . . . . 98, 124, 187, 194
COMMANDS CLEARED BY ANOTHER INITIATOR . . . . . . . . . . 59, 85, 130, 150, 431
communications devices. . . . . . .2, xxvii, xxix, xxx, xxxi, 411-413, 418, 419
COMPARE command . . . . . . . . . . . . . . . . . . . . . . . . . . xxi, 95, 97
complete list . . . . . . . . . . . . . . . . . . . . . . . . . . . . .171, 184
CONDITION MET status. . . . . . . . . . . . . . . . . . . 75, 77, 178, 193, 363
connect time limit field. . . . . . . . . . . . . . . . . . . . . . . . .3, 153
connection. . . . . 3, 4, 6, 9, 27, 36, 41, 57-60, 63, 64, 79, 80, 85, 153, 297
contingent allegiance . .xxxi, 3, 58, 59, 61, 62, 64, 67, 76, 77, 79-85, 88, 
                         92, 95, 122, 149-151, 238
contrast field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 345
control . . . . . .xxi, xxii, xxiv, xxv, xxxii, 3, 6, 33, 37, 42, 44, 45, 67, 
                   72, 73, 75, 77, 81, 84-86, 93, 95, 96, 103, 104, 109-112, 
                   114, 115, 117, 118, 121, 122, 134-136, 138, 141-143, 145,
                   149, 153, 162-164, 169, 170, 173, 177-183, 185-187, 189, 
                   192, 193, 196-205, 210, 213, 223, 230, 243-246, 248, 249, 
                   251-256, 258, 259, 261, 265, 267, 273, 275-278, 280, 281, 
                   282, 283, 287-290, 292, 293, 300-302, 306-314, 316-318, 320, 
                   321, 323, 324, 327, 329, 337, 338, 341, 343, 345, 347, 
                   349-351, 353, 360-362, 364-374, 377, 378, 380, 384-388, 
                   396, 398, 399, 401, 411, 414-417, 419, 439
Control Field . . . . . . . . . . . . xxi, 75, 109-111, 115, 302, 324, 337, 338
Control Mode Page . . . xxii, 67, 81, 84, 85, 142, 143, 145, 149, 210, 265, 
                        280, 327, 353, 377, 419
COPY ABORTED. . . . . . . . . . . . . . . . . . . . . . . . . .98, 99, 101, 129
COPY AND VERIFY command . . . . . . . . . . . . . . . . xxi, 103, 123, 124, 231
COPY CANNOT EXECUTE SINCE HOST CANNOT DISCONNECT. . . . . . . . . . . .130, 431
COPY command. . . . . . . xxi, xxxii, 5, 27, 95-99, 102-104, 188, 191, 254, 287
COPY function code field. . . . . . . . . . . . . . . . . . . . . . . . . . .97
CORRCT bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 185
correct . . . . . . . 4, 43, 78, 83, 86, 125, 128, 130, 167, 244, 335, 429, 430
count basis field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 144
count field . . . . . . . . . . . . . 102, 126, 224-228, 231, 256-258, 335, 348
CP. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 245
CTS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .285, 286
current I/O process . . . . . . . . . . . . . . . 3, 41, 58, 59, 65, 67, 77, 84
current operating definition field. . . . . . . . . . . . . . . . . . . . . 157
cylinder skew factor field. . . . . . . . . . . . . . . . . . . . . . . . . 218
data buffer recovery. . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
data buffer status descriptor . . . . . . . . . . . . . . . . . . . . . . . 341
data bytes per physical sector field. . . . . . . . . . . . . . . . . . . . 218
data bytes per sector field . . . . . . . . . . . . . . . . . . . . . . . . 214
data defect list. . . . . . . . . . . . . . . . . . . . . .xxiii, 170, 184, 365
DATA IN Phase . . .48, 61, 75, 77, 118, 119, 182, 277, 292, 313, 324, 342, 349, 
                   367, 422, 423
DATA OUT Phase. . .48, 72, 74, 81, 96, 109, 110, 113, 125, 137, 170-172, 
                   275-277, 290, 292, 350, 351, 362, 369, 416, 423
DATA PATH FAILURE (SHOULD USE 40 NN). . . . . . . . . . . . . . . . . .130, 432
DATA PHASE ERROR. . . . . . . . . . . . . . . . . . . . . . . . . . . .130, 432
DATA PROTECT. . . . . . . . . . . . . . . . . 128, 166, 191, 197, 240, 294, 358
Data Release Delay. . . . . . . . . . . . . . . . . . . . . . . . . .36, 37, 49
DATA SYNCHRONIZATION MARK ERROR . . . . . . . . . . . . . . . . . . . .130, 430
data transfer disconnect control. . . . . . . . . . . . . . . . . . . xxii, 153
data transfer element . . . xxvii, 379-381, 384, 386, 388, 395, 396, 405, 406, 
                            408, 410
data type qualifier field . . . . . . . . . . . . . . . . . . . . . . . . . 349
DBD bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 115
DBR . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .266, 267
DC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .100, 101
DCR bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .224, 271
DCRT bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
default operating definition field. . . . . . . . . . . . . . . . . . . . . 157
defect descriptor . . . . . . . . . . . . . . . . xxii, xxiii, 170-175, 184-187
DEFECT LIST ERROR . . . . . . . . . . . . . . . . . . . . . . . . 130, 173, 431
DEFECT LIST ERROR IN GROWN LIST . . . . . . . . . . . . . . . . . . . .130, 431
DEFECT LIST ERROR IN PRIMARY LIST . . . . . . . . . . . . . . . . . . .130, 431
defect list format field. . . . . . . . . . . . . . . . . . . . . . . .172, 184
defect list length field. . . . . . . . . . . . . . . . . . . . . 173, 184, 187
DEFECT LIST NOT AVAILABLE . . . . . . . . . . . . . . . . . . . . . . .130, 431
DEFECT LIST NOT FOUND . . . . . . . . . . . . . . . 130-132, 173, 183, 184, 431
DEFECT LIST UPDATE FAILURE. . . . . . . . . . . . . . . . . . . . . . .130, 431
defect logical block address. . . . . . . . . . . . . . . . . . . . . .186, 187
definition parameter field. . . . . . . . . . . . . . . . . . . . . xxi, 93, 94
demand read retention priority field. . . . . . . . . . . . . . . . . . . . 211
Deskew Delay. . . . . . . . . . . . . . . . . .36, 37, 39, 45, 46, 49, 422, 425
destination count . . . . . . . . . . . . . . . . . . . . . . . . . . .100, 101
destination logical block address field . . . . . . . . . . . . . . . . . . 100
device off-line . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 134
device-specific parameter . . . . . . . xxiv, xxv, 146, 147, 263, 272, 279, 326
DevOfl bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 135
DIAGNOSTIC FAILURE ON COMPONENT NN (80H-FFH). . . . . . . . . . . . . .130, 432
Diagnostic Parameters . 7, 74, 134, 138, 139, 206, 262, 279, 291, 325, 352, 
                        375, 404, 418
direct-access devices . xxii, xxx, xxxi, 6, 97, 124, 144, 148, 161-163, 165, 
                        168, 206, 208-210, 220, 229, 232, 233, 297, 357, 358
disable block descriptors . . . . . . . . . . . . . . . . . . . . . . . . . 115
disable certification . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
disable correction. . . . . . . . . . . . . . . . . . . . . . . . . . .224, 271
disable page out. . . . . . . . . . . . . . . . . . . . . . . . . . . .163, 181
disable pre-fetch transfer length field . . . . . . . . . . . . . . . . . . 212
disable primary . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
disable queuing . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 150
disable save. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 141
disable saving parameters . . . . . . . . . . . . . . . . . . . . . . . . . 173
disable transfer on error . . . . . . . . . . . . . . . . . . . . . . .223, 271
disable update. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 141
DISCONNECT. . . . . .3, xxii, 3, 5, 37, 41, 47, 49, 50, 52, 55, 57, 59, 60, 
                     62, 76-79, 84, 86, 122, 126, 130, 149, 152, 153, 210, 
                     265, 280, 287, 288, 327, 353, 377, 411, 412, 419, 421, 431
disconnect time limit field . . . . . . . . . . . . . . . . . . . . . . .3, 153
Disconnect-Reconnect Page . .3, xxii, 60, 149, 152, 210, 265, 280, 327, 353, 
                             377, 419
Disconnection Delay . . . . . . . . . . . . . . . . . . . . . . . . .36, 37, 59
displacement field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 195
download microcode. . . . . . . . . . . . . . . . . . . . . . . . . . .137, 138
DPO bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .163, 181
DPOFUA bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . 209, 326, 376
DPRY bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
DQue bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 85, 150
drive step pulse width field. . . . . . . . . . . . . . . . . . . . . . . . 214
drive step rate field . . . . . . . . . . . . . . . . . . . . . . . 3, 214, 230
DS bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 109, 111, 141
DSP bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
dt. . . . . . . . . . . . . . . . . . . . . . . . . .130-133, 405, 429-431, 433
DTE bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .224, 271
DU bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .141, 142
EAENP bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
EBC . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 326, 370, 376
EBP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 372-374
EECA bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
EEG . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .266, 268
EER bit . . . . . . . . . . . . . . . . . . . . . . . . . . .223, 224, 232, 271
electronic vertical forms unit. . . . . . . . . . . . . . . .133, 282, 283, 432
Element Address Assignment Page . . . . . . . . . . . . . . . . . . .xxvii, 406
element address field . . . . . . . . . . . . .380, 392-394, 397, 402, 407, 408
element bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 398-401
element descriptor length field . . . . . . . . . . . . . . . . . . . . . . 391
element descriptors . . . . . . . . . . . . . . . . . . 388, 389, 391, 397, 400
element status. . . . . .xxvi, xxvii, 381-383, 385, 388-391, 393, 397, 435, 438
element type code field . . . . . . . . . . . . . . . . . . .388, 391, 397, 401
enable blank check. . . . . . . . . . . . . . . . . . . . . . . . 326, 370, 376
enable early recovery . . . . . . . . . . . . . . . . . . . . . . . . .223, 271
enable EOD generation . . . . . . . . . . . . . . . . . . . . . . . . . . . 268
enable extended contingent allegiance . . . . . . . . . . . . . . . . . . . 151
enable threshold comparison . . . . . . . . . . . . . . . . . . . . . . . . 141
enable vital product data . . . . . . . . . . . . . . . . . . . . . . . . . 104
end of partition. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 250
END OF USER AREA ENCOUNTERED ON THIS TRACK. . . . . . . . . .130, 304, 307, 433
END-OF-DATA DETECTED. . . . . . . . . . . . . . . . . . . . . . . . . .130, 429
END-OF-DATA NOT FOUND . . . . . . . . . . . . . . . . . . . . . . . . .130, 430
end-of-medium . . . . . . 123, 133, 233, 234, 236, 239, 244, 272, 278, 355, 432
END-OF-PARTITION/MEDIUM DETECTED. . . . . . . . . . . . . . . . . . . .130, 429
end-of-tape . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 244
ending boundary field . . . . . . . . . . . . . . . . . . . . . . . . . . . 222
ending F field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
ending index field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 310
ending M field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
ending S field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
ending track field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 310
EOD defined field . . . . . . . . . . . . . . . . . . . . . . . . . . .268, 272
EOM bit . . . . . . . . . . . . . . . . . . . 123, 247, 257, 258, 267, 347, 348
EOP . . . . . . . . . . . . . . . . . . . . . . . .236, 237, 239, 240, 249, 250
EOT . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .244, 272
EQUAL . . 38, 45, 47, 57, 66, 68, 78, 113, 129, 142, 147, 168, 174, 175, 182,
          184, 187, 193, 195, 212, 214, 221, 228, 230, 248, 250, 295, 301, 
          304, 305, 307, 309-311, 313, 344, 352, 354, 355, 359, 362, 363, 
          388, 436, 438
ERA . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .360, 361
erase all . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 360
erase by-pass . . . . . . . . . . . . . . . . . . . . . . . . . . . . .372, 374
ERASE command . . . . . . . . . . . . . . . . . . . . . . . xxiv, 238, 243, 357
ERASE FAILURE . . . . . . . . . . . . . . . . . . . . . . . . . . . . .130, 432
ERASE(10) command . . . . . . . . . . . . . . . . . . . . . . . .xxvi, 360, 361
ERASE(12) command . . . . . . . . . . . . . . . . . . . . . . . . . . xxvi, 361
error AEN permission. . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
Error Counter Pages . . . . . . . . . . . . . . . . . . . . . . . . . xxii, 144
ERROR LOG OVERFLOW. . . . . . . . . . . . . . . . . . . . . . . . . . .130, 430
ERROR TOO LONG TO CORRECT . . . . . . . . . . . . . . . . . . . . . . .130, 430
ETC bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .141, 142
EVFU. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .282, 283
EVFU format start character field . . . . . . . . . . . . . . . . . . . . . 283
EVFU format stop character field. . . . . . . . . . . . . . . . . . . . . . 283
EVPD bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .104, 108
except. . . . . . . . . 28, 36, 41, 48, 50, 51, 59, 64, 76, 78, 80, 84, 95, 
                        103, 110, 112, 116, 122, 124, 134, 138, 141, 142, 150,
                        154, 169, 170, 171, 251, 252, 300, 302, 303, 324, 
                        392-395, 427
EXCESSIVE WRITE ERRORS. . . . . . . . . . . . . . . . . . . . . . . . .130, 429
EXCHANGE MEDIUM command . . . . . . . . . . . . . . . . . . . . . . . xxvi, 384
exclusive access. . . . . . . . . . . . . . . . . . . . . . .190, 191, 379, 395
ExEnab. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 394
export enable . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 394
extended contingent allegiance. . .xxxi, 3, 58, 59, 61, 62, 64, 79, 81, 83-85, 
                                   95, 149-151, 238
extent. . . . . . . . . . . . . . . . . .xxiii, 77, 162, 164, 165, 169, 187-192
extent bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 188-190
extent list length field. . . . . . . . . . . . . . . . . . . . . . . . . . 190
FAILED TO SENSE BOTTOM-OF-FORM. . . . . . . . . . . . . . . . . . . . .130, 432
FAILED TO SENSE TOP-OF-FORM . . . . . . . . . . . . . . . . . . . . . .130, 432
Fast Assertion Period . . . . . . . . . . . . . . . . . . . . . . . 36, 38, 425
Fast Cable Skew Delay . . . . . . . . . . . . . . . . . . . . . . . 36, 38, 425
Fast Deskew Delay . . . . . . . . . . . . . . . . . . . . . . . . . 36, 39, 425
Fast Hold Time. . . . . . . . . . . . . . . . . . . . . . . . . . . 36, 39, 425
Fast Negation Period. . . . . . . . . . . . . . . . . . . . . . . . 36, 39, 425
Fast Synchronous Transfer Option. . . . . . . . . . . . . . . . . . . . . . .38
FDP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 269
field pointer field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 125
filemark. . . . .123, 128, 130, 237, 240, 247, 251, 252, 256-258, 272, 429, 430
filemark bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .123, 257
FILEMARK DETECTED . . . . . . . . . . . . . . . . . . . . . . . . . . .130, 429
FILEMARK OR SETMARK NOT FOUND . . . . . . . . . . . . . . . . . . . . .130, 430
filled data buffer field. . . . . . . . . . . . . . . . . . . . . . . . . . 342
first block location field. . . . . . . . . . . . . . . . . . . . . . . . . 250
first data transfer element address field . . . . . . . . . . . . . . . . . 408
first element address reported field. . . . . . . . . . . . . . . . . . . . 389
first import export element address field . . . . . . . . . . . . . . . . . 408
first record offset field . . . . . . . . . . . . . . . . . . . . . . . . . 194
first storage element address field . . . . . . . . . . . . . . . . . . . . 407
fixed bit . . . . . . . . . . . . . . .124, 240, 241, 246-248, 251-253, 258-260
fixed data partitions . . . . . . . . . . . . . . . . . . . . . . . . . . . 269
flag bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 62, 75, 301
Flexible Disk Page. . . . . . . . . . . . . . . . . . . . . .3, xxiii, 210, 213
FmtData bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 171-173
FOCUS SERVO FAILURE . . . . . . . . . . . . . . . . . . . . . . . . . .130, 429
font identification field . . . . . . . . . . . . . . . . . . . . . . . . . 282
forced unit access. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 163
form slew options field . . . . . . . . . . . . . . . . . . . . . . . . . . 284
FORMAT command. . . . . . . . . . . . . . . . . . . . .xxiv, 130, 275, 283, 431
FORMAT COMMAND FAILED . . . . . . . . . . . . . . . . . . . . . . . . .130, 431
format data . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .169, 170
Format Device Page. . . . . . . . . . . . . . . . . . . . .xxiii, 165, 210, 216
format of logical blocks addresses per second field . . . . . . . . . . . . 328
format options valid. . . . . . . . . . . . . . . . . . . . . . . . . . . . 172
format type field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 275
FORMAT UNIT command . . .xxii, 116, 126, 162, 165, 169-173, 183, 184, 186, 191, 
                         206, 217-219, 293
FOV bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 172
FUA bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 181
full bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 392
gap size field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 243
generation address field. . . . . . . . . . . . . . . . . . . . . . . .366, 367
GENERATION DOES NOT EXIST . . . . . . . . . . . . . . . . . . . . 130, 367, 433
GET DATA BUFFER STATUS command. . . . . . . . . . . . . . . . . . . . xxvi, 341
GET MESSAGE(10) command . . . . . . . . . . . . . . . . . . . . . . .xxvii, 414
GET MESSAGE(12) command . . . . . . . . . . . . . . . . . . . . . . .xxvii, 415
GET WINDOW command. . . . . . . . . . . . . . . . . . . . . . . .xxvi, 343, 345
Glist bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .183, 184
GOOD status . . 77, 82, 86, 89, 92, 116, 122, 126, 127, 134, 135, 165, 178, 
                181, 187, 193, 211, 238, 253, 259, 263, 278, 280, 347, 363, 398
group code. . . . . . . . . . . . . . . . . . . . . . . . . . .73, 74, 265, 422
grown defect list . . . . . . . . . . . . . . 131, 170, 173, 183, 184, 186, 431
GROWN DEFECT LIST NOT FOUND . . . . . . . . . . . . . . . . . . . . . .131, 431
hard sector . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .218, 219
HARDWARE ERROR. . . . . . . . .125, 128, 134, 166, 187, 230, 240, 294, 304, 358
head load delay field . . . . . . . . . . . . . . . . . . . . . . . . . . . 215
HEAD OF QUEUE TAG . . . . . . . . . . . . . . . . . xxi, 55, 63, 64, 77, 85, 87
head settle delay field . . . . . . . . . . . . . . . . . . . . . . . . . . 214
head unload delay . . . . . . . . . . . . . . . . . . . . . . . . . . .213, 215
Hold Time . . . . . . . . . . . . . . . . . . . . . . . . . .36-39, 46, 51, 425
host adapter. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 3, 5, 421
HSEC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 218
i/e . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 405
I/O process . . . .3-5, 41, 42, 47, 51, 52, 54, 55, 58-61, 63-65, 67, 75, 
                   77-82, 84-87, 107, 122, 126, 127, 131, 150, 151, 230, 421, 
                   429
I/O PROCESS TERMINATED. . . . . . . . . . . . . . . . . . . . . . .67, 131, 429
I_T . . . . 4, 57, 58, 60, 61, 63, 64, 74, 77-79, 81-84, 86, 112, 122, 150, 253
I_T_L . . . . . . . . 4, 57, 58, 60, 61, 63, 64, 74, 77-79, 81-84, 86, 112, 253
I_T_L_Q . . . . . . . . . . . . . . . . . . . . . 4, 58, 61, 63, 64, 79, 84, 86
I_T_R . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4, 57, 60
I_T_x . . . . . . . . . . . . . . . . . . . . . . . .4, 58, 64, 82-84, 122, 150
I_T_x_y . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4
ID CRC OR ECC ERROR . . . . . . . . . . . . . . . . . . . . . . . . . .131, 430
ID Valid bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 396
IDENTIFY. . . 2, xxi, 4, 6, 50, 51, 55-58, 60, 61, 64, 74, 77-79, 83, 84, 86, 
              91, 95, 103, 105, 127, 128, 131, 161, 167, 173, 189, 270, 399, 
              422, 432
IDP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 269
IGNORE WIDE RESIDUE . . . . . . . . . . . . . . . . . . . . . . . . xxi, 55, 61
ILI bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .348, 349
ILLEGAL FUNCTION (SHOULD USE 20 00, 24 00, OR 26 00). . . . . . . . . .131, 431
ILLEGAL MODE FOR THIS TRACK . . . . . . . . . . . . . . . . .131, 304, 307, 433
ILLEGAL REQUEST . . .60, 71, 75, 80, 99, 101, 102, 104, 108-113, 115, 116, 119, 
                     125, 128, 135, 137, 139, 140, 142, 143, 149, 153, 166, 
                     170, 172, 176, 182, 185, 188, 190, 191, 194, 199,
                     204-206, 227, 228, 240, 244, 246, 256, 258, 277, 283, 
                     284, 294, 303, 304, 307, 309-311, 323, 331, 347, 354, 
                     358, 360, 371, 384-386, 398-402, 406-408
image composition field . . . . . . . . . . . . . . . . . . . . . . . . . . 345
Immed bit . . . . . . 126, 173, 178, 198, 199, 243-245, 255, 258, 259, 261, 328
immediate . . . . . 81, 126, 173, 178, 198, 199, 238, 243-245, 255, 258, 261, 
                    302, 306, 328
ImpExp. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .394, 395
Implemented Operating Definition Page . . . . . . . . . . . .xxii, 94, 155, 156
import enable . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 394
import export . . .xxvii, 379, 380, 384, 386, 388, 394, 395, 405, 406, 408, 410
import export element . xxvii, 379, 384, 386, 388, 394, 395, 405, 406, 408, 410
IMPORT OR EXPORT ELEMENT ACCESSED . . . . . . . . . . . . . . . . . . .131, 431
inactivity timer multiplier . . . . . . . . . . . . . . . . . . . . . .xxv, 329
INCOMPATIBLE MEDIUM INSTALLED . . . . . . . . . . . . . . . . . . . . .131, 431
INCOMPLETE BLOCK READ . . . . . . . . . . . . . . . . . . . . . . . . .131, 430
incorrect length indicator. . . . . . . . . . . . . . . . . . . . . . .123, 246
InEnab. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 394
information field . . 67, 98, 102, 123, 124, 128, 156, 166, 185, 187, 194, 
                     204, 225-228, 241, 243, 246, 247, 251-253, 256, 257, 259, 
                     260, 261, 262, 294, 304, 358, 359, 391-395
Information Page. . . . . . . . . . . . . . . . . . . . . . xxii, 125, 155, 156
initial connection. . . . . . . . . . . . . . . . . . . . .3, 4, 60, 63, 79, 85
initialization pattern. . . . . . . . . . . . . . . . xxiii, 170, 173, 175, 176
initialization pattern descriptor . . . . . . . . . . . . .xxiii, 170, 173, 175
initialization pattern length field . . . . . . . . . . . . . . . . . . . . 176
INITIALIZE ELEMENT STATUS command . . . . . . . . . . . . . . . .xxvi, 381, 385
INITIATE RECOVERY . . . . . . . . . . . . . . . . 3, 55, 56, 61, 62, 64, 83, 95
INITIATOR DETECTED ERROR. . . . . . . . . . . . . . . . . .47, 55, 62, 131, 432
INITIATOR DETECTED ERROR MESSAGE RECEIVED . . . . . . . . . . . . . . .131, 432
initiator-defined partitions. . . . . . . . . . . . . . . . . . . . . . . . 269
INQUIRY command . . . .xxi, 65, 79-82, 88, 91, 92, 94, 95, 104, 108, 154, 156, 
                       158, 169, 219, 357, 378
INQUIRY DATA HAS CHANGED. . . . . . . . . . . . . . . . . . . . . . . .131, 432
interleave field. . . . . . . . . . . . . . . . . . . . . . . . . . . .172, 218
INTERMEDIATE status . . . . . . . . . . . . . . . . . . . . . . . . . . . . 178
INTERMEDIATE-CONDITION MET status . . . . . . . . . . . . . . .75, 77, 178, 193
INTERNAL TARGET FAILURE . . . . . . . . . . . . . . . . . . . . . . . .131, 432
Inv1 bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 385
Inv2 bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 385
INVALID BITS IN IDENTIFY MESSAGE. . . . . . . . . . . . . . . . . .60, 131, 432
INVALID COMBINATION OF WINDOWS SPECIFIED. . . . . . . . . . . . . . . .131, 431
INVALID COMMAND OPERATION CODE. . . . . . . . . . . . . . . . . . . . .131, 431
INVALID ELEMENT ADDRESS . . . . . . . . . . . . . . . . . . . . . . . .131, 431
INVALID FIELD IN CDB. . . .104, 108-113, 115, 116, 131, 135, 137, 185, 199, 
                           204, 246, 323, 360, 371, 431
INVALID FIELD IN PARAMETER LIST . . .99, 101, 110, 111, 113, 131, 139, 140, 
                                     142, 143, 149, 170, 172, 176, 206, 227, 
                                     331, 431
INVALID MESSAGE ERROR . . . . . . . . . . . . . . . . . . . . . . . . .131, 432
invert. . . . . . . . . . . . . . . . . . 193, 195, 368, 382, 386, 387, 392-395
Invert bit. . . . . . . . . . . . . . . . . . . . .193, 195, 382, 386, 387, 393
IP bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
IP modifier field . . . . . . . . . . . . . . . . . . . . . . . . . . .175, 176
L-EC UNCORRECTABLE ERROR. . . . . . . . . . . . . . . . . . . . . . . .131, 430
LAMP FAILURE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .131, 433
landing zone cylinder field . . . . . . . . . . . . . . . . . . . . . . . . 230
last block location field . . . . . . . . . . . . . . . . . . . . . . . . . 250
Last n Error Events Page. 143, 145, 208, 262, 279, 291, 325, 353, 375, 404, 418
latest bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 367
line slew options field . . . . . . . . . . . . . . . . . . . . . . . . . . 283
link bit. . . . . . . . . . . . . . . . . . . . . . . . .75, 178, 193, 203, 363
LINKED COMMAND COMPLETE . . . . . . . . . . . . . . . . . . . . .55, 62, 75, 78
LINKED COMMAND COMPLETE (WITH FLAG) . . . . . . . . . . . . . . .55, 62, 75, 78
list parameter. . . . . . . . . . . . . . . . . . . . . . . . . . . . .142, 145
load bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .4, 244
load eject. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 198
LOAD UNLOAD command . . . . . . . . . . . . . . . . . . . . . . .xxiv, 244, 272
LOCATE command. . . . . . . . . . . . . . . . . . . . . . . xxiv, 239, 245, 250
lock. . . . . . . . . . . . .xxiii, 163, 164, 168, 177, 294, 300, 305, 359, 436
lock bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 177
LOCK UNLOCK CACHE command . . . . . . . . . . . . . . . . . . . . . .xxiii, 177
LoEj bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 198
LOG COUNTER AT MAXIMUM. . . . . . . . . . . . . . . . . . . . . . 131, 142, 433
LOG EXCEPTION . . . . . . . . . . . . . . . . . . . . . . . . . . 131, 150, 433
LOG LIST CODES EXHAUSTED. . . . . . . . . . . . . . . . . . .131, 142, 145, 433
Log Parameters. . . .7, 74, 109-112, 131, 135, 140, 141, 144, 208, 262, 279, 
                     291, 325, 352, 375, 404, 418, 431
LOG PARAMETERS CHANGED. . . . . . . . . . . . . . . . . . . . . . 110, 131, 431
LOG SELECT command. . . . . . . . . . . . . . .xxi, 109-111, 140, 141, 143, 146
LOG SENSE command . . . . . . . . . . . . . . . . . xxi, 109, 111, 140-142, 145
logical block . . 4, 7, 50, 72-74, 78, 86, 99, 100, 123, 124, 131, 148, 
                  161-163, 165-167, 169, 174, 176-178, 180-187, 190, 191, 193, 
                  194, 196, 197, 199-208, 212, 218, 221, 222, 225-228, 231, 
                  237-240, 245, 247, 249, 250, 252, 293, 294, 297, 299, 300, 
                  303, 304, 307, 308, 311-315, 319, 324, 326, 328, 337, 338, 
                  357-364, 366-374, 378, 431
Logical Block Address . . . 7, 72-74, 99, 100, 124, 131, 161, 162, 166, 
                            176-178, 180-187, 190, 191, 193, 194, 196, 197, 
                            199-207, 221, 222, 225, 226, 227, 240, 245, 249, 
                            293, 294, 299, 300, 303, 304, 307, 308, 311-315,
                            319, 324, 328, 337, 357-364, 366, 367, 368-374, 431
LOGICAL BLOCK ADDRESS OUT OF RANGE. . . . . . . . . . . . . . . . . . .131, 431
logical block data. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 205
logical blocks per second of audio playback field . . . . . . . . . . . . . 328
logical or physical notch . . . . . . . . . . . . . . . . . . . . . . . . . 221
logical record length field . . . . . . . . . . . . . . . . . . . . . . . . 194
logical unit. . .xxxi, 4-6, 51, 57-60, 64, 72-74, 77, 79, 80, 82-84, 86, 88, 
                 89, 91-96, 98-101, 103-107, 109-112, 114, 115, 117, 118, 121, 
                 122, 127, 128, 131, 134-136, 143, 146, 148, 154, 155, 158, 
                 159, 164, 169, 177-183, 185-193, 196-205, 210, 216, 217-222, 
                 230, 243-256, 258-262, 267-270, 273, 275-278, 287, 289, 290,
                 306-314, 316, 323, 328, 341, 343, 347, 349-351, 360-362, 364, 
                 366-374, 381, 384-388, 395, 396, 398, 399, 401, 411, 414-417, 
                 429, 431, 432
LOGICAL UNIT COMMUNICATION FAILURE. . . . . . . . . . . . . . . . . . .131, 429
LOGICAL UNIT COMMUNICATION PARITY ERROR . . . . . . . . . . . . . . . .131, 429
LOGICAL UNIT COMMUNICATION TIME-OUT . . . . . . . . . . . . . . . . . .131, 429
LOGICAL UNIT DOES NOT RESPOND TO SELECTION. . . . . . . . . . . . . . .131, 429
LOGICAL UNIT FAILED SELF-CONFIGURATION. . . . . . . . . . . . . . . . .131, 432
LOGICAL UNIT HAS NOT SELF-CONFIGURED YET. . . . . . . . . . . . . . . .131, 432
LOGICAL UNIT IS IN PROCESS OF BECOMING READY. . . . . . . . . . . . . .131, 429
LOGICAL UNIT NOT READY, CAUSE NOT REPORTABLE. . . . . . . . . . . . . .131, 429
LOGICAL UNIT NOT READY, FORMAT IN PROGRESS. . . . . . . . . . . . . . .131, 429
LOGICAL UNIT NOT READY, INITIALIZING COMMAND REQUIRED . . . . . . . . .131, 429
LOGICAL UNIT NOT READY, MANUAL INTERVENTION REQUIRED. . . . . . . . . .131, 429
LOGICAL UNIT NOT SUPPORTED. . . . . . . . . . . . . . . . . . 80, 131, 135, 431
Logical Unit Number . . 4, 5, 57, 60, 72-74, 91, 93, 95, 96, 103, 104, 109, 
                        111, 112, 114, 115, 117, 118, 121, 122, 134-136, 169, 
                        177-183, 185-187, 189, 192, 193, 196-205, 243-246, 248,
                        249, 251-256, 258, 259, 261, 273, 275-278, 289, 290, 
                        306, 307-314, 316, 323, 341, 343, 347, 349-351, 
                        360-362, 364, 366-374, 381, 384-388, 395, 396, 398, 
                        399, 401, 414, 415-417
long bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 243
LP bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .141, 142
LPN bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .221, 222
LU Valid bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 396
mandatory . . . . . . . .xxxi, 4, 6, 56, 57, 63, 71, 74, 92, 123, 124, 134, 
                         168, 169, 172, 188, 189, 191, 192, 237, 242, 256, 274, 
                         289, 295, 305, 340, 359, 383, 413, 421, 435-438
maximum additional partitions field . . . . . . . . . . . . . . . . . . . . 269
maximum burst size field. . . . . . . . . . . . . . . . . . . . . . . . . . 153
maximum generation address field. . . . . . . . . . . . . . . . . . . . . . 366
maximum line length field . . . . . . . . . . . . . . . . . . . . . . . . . 283
maximum number of notches field . . . . . . . . . . . . . . . . . . . . . . 221
maximum pre-fetch ceiling field . . . . . . . . . . . . . . . . . . . . . . 212
maximum pre-fetch field . . . . . . . . . . . . . . . . . . . . . . . . . . 212
maximum volume sequence number. . . . . . . . . . . . . . . . . . . . . . . 403
MCVal . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 317, 319, 321
Measurement Units Page. . . . . . . . . . . . . . . . . . . . . . . . xxvi, 353
MECHANICAL POSITIONING ERROR. . . . . . . . . . . . . . . . . . . . . .131, 430
MEDIA LOAD OR EJECT FAILED. . . . . . . . . . . . . . . . . . . . . . .131, 433
MEDIUM DESTINATION ELEMENT FULL . . . . . . . . . . . . . . . . . . . .131, 432
MEDIUM ERROR. . . . .xxii, 125, 128, 143, 145, 166, 173, 183, 187, 208, 238, 
                     240, 247, 257, 258, 260, 279, 291, 294, 304, 325, 331-335, 
                     347, 348, 353, 358, 370, 404, 418
MEDIUM FORMAT CORRUPTED . . . . . . . . . . . . . . . . . . . . . . . .131, 431
medium format recognition field . . . . . . . . . . . . . . . . . . . . . . 270
MEDIUM NOT PRESENT. . . . . . . . . . . . . . . . . . . . . . . . 131, 135, 432
Medium Partition Page . . . . . . . . . . . . . . . . . . . xxiv, 266, 269, 270
MEDIUM REMOVAL PREVENTED. . . . . . . . . . . . . . . . . . . . . 131, 179, 433
medium rotation rate field. . . . . . . . . . . . . . . . . . . . . . . . . 216
MEDIUM SCAN command . . . . . . . . . . . . . . . . . .xxvi, 293, 358, 362, 363
MEDIUM SOURCE ELEMENT EMPTY . . . . . . . . . . . . . . . . . . . . . .131, 432
medium transport element. .xxvii, 379, 380, 384, 386-388, 392, 394-396, 
                           405-407, 409, 410
medium transport element address field. . . . . . . . . . . . . . . . .380, 407
medium type . . . . . . . . . .xxv, 146, 147, 167, 209, 219, 220, 325, 357, 375
medium types supported. . . . . . . . . . . . . . . . xxiii, 210, 219, 327, 377
Medium Types Supported Page . . . . . . . . . . . . . xxiii, 210, 219, 327, 377
medium-changer devices. . . . . . . . . . . . . . . . . . . . . . . . . . . 379
MESSAGE ERROR . . . . . . . . . . . . . . . . . . . . . . . . . . .49, 131, 432
MESSAGE IN Phase. . . . . . . . . . .48, 50, 52, 59-62, 64, 66, 69, 77, 78, 423
MESSAGE OUT Phase 43, 44, 48-50, 52, 55, 60, 62-64, 66, 68, 69, 77, 79, 86, 422
MESSAGE PARITY ERROR. . . . . . . . . . . . . . . . . . . . .50, 55, 62, 66, 68
MESSAGE REJECT. . . . . . . . . . . . . . . .55, 59, 60, 62, 63, 65-69, 85, 151
MF bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .211, 212
MICROCODE HAS BEEN CHANGED. . . . . . . . . . . . . . . . . . 88, 131, 138, 432
minimum pre-fetch field . . . . . . . . . . . . . . . . . . . . . . . . . . 212
minimum volume sequence number. . . . . . . . . . . . . . . . . . . . . . . 403
MISCOMPARE. . . . . . . . . . . 95, 104, 129, 131, 200, 203, 259, 370, 374, 431
MISCOMPARE DURING VERIFY OPERATION. . . . . . . . . . . . . . . . . . .131, 431
MISCORRECTED ERROR. . . . . . . . . . . . . . . . . . . . . . . . . . .131, 430
MO bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 215
mode field. . . . . . . . . . xxi, xxii, 118, 137, 259, 263, 280, 283, 301, 315
mode parameter header . . . . xxii, 113, 115, 116, 146, 147, 208, 209, 259-261, 
                              263, 272, 279, 325, 326, 353, 375, 376, 404, 418
Mode Parameters . . . . . . . .7, 74, 88, 112, 113, 115-117, 127, 131, 146-149, 
                               162, 188, 191, 208, 210, 231, 246, 253-255, 263, 
                               279, 303, 307, 308, 309-312, 325, 339, 349, 351, 
                               353, 370, 375, 404, 418, 431
MODE PARAMETERS CHANGED . . . . . . . . . . . . . . . . . . . . . 112, 131, 431
MODE SELECT(10) command . . . . . . . . . . . . . . . . . . . . . xxi, 114, 117
MODE SENSE(10) command. . . . . . . . . . . . . . . . . . . .xxi, 114, 115, 117
MODIFY DATA POINTER . . . . . . . . . . . . . . . . . . . . . . xxi, 55, 57, 63
motor off delay field . . . . . . . . . . . . . . . . . . . . . . . . . . . 214
motor on. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 213-215
motor on delay field. . . . . . . . . . . . . . . . . . . . . . . . . . . . 214
MOVE MEDIUM command . . . . . . . . . . . . . . . . . . . . xxvi, 382, 386, 387
MSF . . . . . . . . . xxv, 297-300, 302, 303, 305, 307, 309, 311, 313-316, 319, 
                      323, 324, 329, 330, 337, 338, 437
mt. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 405
MULTIPLE PERIPHERAL DEVICES SELECTED. . . . . . . . . . . . . . . . . .131, 429
MULTIPLE READ ERRORS. . . . . . . . . . . . . . . . . . . . . . . . . .131, 430
multiplication factor . . . . . . . . . . . . . . . . . . . . . . . . . . . 211
ND bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .218, 221
Negation Period . . . . . . . . . . . . . . . . . . . . 36, 37, 39, 45, 46, 425
nexus . . . . .3, 4, 41, 50, 57, 58, 60, 61, 63-65, 74, 77-79, 81-84, 86, 112, 
               122, 151, 253
NO ADDITIONAL SENSE INFORMATION . . . . . . . . . . . . 122, 124, 131, 135, 429
NO CURRENT AUDIO STATUS TO RETURN . . . . . . . . . . . . . . . . 131, 318, 429
NO DEFECT SPARE LOCATION AVAILABLE. . . . . . . . . . . . . .131, 187, 370, 431
NO GAP FOUND. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .131, 430
NO INDEX/SECTOR SIGNAL. . . . . . . . . . . . . . . . . . . . . . . . .131, 429
NO OPERATION. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .55, 63
NO SEEK COMPLETE. . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 429
NO SENSE. . . . 67, 80, 122, 128, 135, 183, 193, 194, 247, 251-253, 256, 257, 
                259, 261, 276, 302, 363
NO WRITE CURRENT. . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 429
Non-Medium Error Page . . . . . . . 143, 145, 208, 279, 291, 325, 353, 404, 418
Not Bus . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .395, 396
NOT READY . . . . 80, 116, 117, 126, 128, 131-133, 135, 136, 162, 169, 233, 
                  244, 264, 287, 302, 307, 309, 310, 312, 339, 411, 429, 431, 
                  432
NOT READY TO READY TRANSITION(MEDIUM MAY HAVE CHANGED). . . . . . . . . . . 431
not this bus. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 396
Notch and Partition Page. . . . . . . . . . . . . . . . . . . . . . . .210, 220
notched drive . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 221
number of blocks field. . . . . . . . . . . . . 98-101, 148, 177, 197, 199, 205
number of blocks in buffer field. . . . . . . . . . . . . . . . . . . . . . 251
number of blocks requested field. . . . . . . . . . . . . . . . . . . .362, 363
number of blocks to scan field. . . . . . . . . . . . . . . . . . . . .362, 363
number of bytes in buffer field . . . . . . . . . . . . . . . . . . . . . . 251
number of cylinders field . . . . . . . . . . . . . . . . . . . . 214, 229, 230
number of data transfer elements field. . . . . . . . . . . . . . . . . . . 408
number of elements available field. . . . . . . . . . . . . . . . . . . . . 389
number of F units per S unit field. . . . . . . . . . . . . . . . . . . . . 330
number of heads field . . . . . . . . . . . . . . . . . . . . . . . . .214, 229
number of import export elements field. . . . . . . . . . . . . . . . . . . 408
number of medium transport elements field . . . . . . . . . . . . . . . . . 407
number of records field . . . . . . . . . . . . . . . . . . . . . . . . . . 194
number of S units per M unit field. . . . . . . . . . . . . . . . . . . . . 330
number of storage elements field. . . . . . . . . . . . . . . . . . . . . . 407
OBJECT POSITION command . . . . . . . . . . . . . . . . . . . . . . . xxvi, 347
offset boundary field . . . . . . . . . . . . . . . . . . . . . . . . . . . 120
Operation Code. . . . .xxi, 71-74, 93, 95, 96, 103, 104, 109, 111, 112, 114, 
                       115, 117, 118, 121, 122, 131, 134-136, 169, 177-183, 
                       185, 186, 187, 189, 192, 193, 195-205, 243-246, 248, 
                       249, 251-255, 258, 259, 261, 275-278, 289, 290, 
                       306-314, 316, 323, 341, 343, 347, 349-351, 360-362, 
                       364, 366-374, 384-388, 396, 398, 399, 401, 414-417, 
                       431
OPERATOR MEDIUM REMOVAL REQUEST . . . . . . . . . . . . . . . . . . . .132, 433
OPERATOR REQUEST OR STATE CHANGE INPUT (UNSPECIFIED). . . . . . . . . .132, 433
OPERATOR SELECTED WRITE PERMIT. . . . . . . . . . . . . . . . . . . . .132, 433
OPERATOR SELECTED WRITE PROTECT . . . . . . . . . . . . . . . . . . . .132, 433
optical memory devices. . . . .xxvi, xxx, 124, 293, 296, 357, 359, 360, 375-378
Optical Memory Page . . . . . . . . . . . . . . . . . . . . . . .xxvi, 377, 378
ORDERED QUEUE TAG . . . . . . . . . . . . . . . . . . . .55, 63, 64, 77, 84, 85
OUT OF FOCUS. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 433
output port channel selection . . . . . . . . . . . . . . . . . . . . .xxv, 328
OVERLAPPED COMMANDS ATTEMPTED . . . . . . . . . . . . . . . . . . .80, 132, 432
OVERWRITE ERROR ON UPDATE IN PLACE. . . . . . . . . . . . . . . . . . .132, 431
pacing protocol field . . . . . . . . . . . . . . . . . . . . . . . . . . . 286
pad bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 96, 99, 102
padding type field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 346
page code field . . . . . . . . . . . . .112, 116, 121, 139, 140, 149, 156, 158
page control. . . . . . . . . . . . . . . . . . . . . . . . . xxi, 109-111, 115
page format . .xxii, 112, 115, 121, 134, 138-140, 144, 148, 149, 210, 266, 280, 
               327, 353, 377, 405, 419
page length field . . . . . . . . . . . . . . .139, 140, 146, 149, 155-159, 207
pages notched field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 222
paper instruction parity check. . . . . . . . . . . . . . . . . . . . . . . 281
PAPER JAM . . . . . . . . . . . . . . . . . . . . . . . . . . . . 132, 347, 432
Parallel Printer Interface Page . . . . . . . . . . . . . . . . . . . . . . 280
parameter code field. . . . . . . . . . . . . . . . . . . . xxii, 141, 143, 144
parameter code reset. . . . . . . . . . . . . . . . . . . . . . . . . . . . 109
parameter data length field . . . . . . . . . . . . . . . . . . . . . . . . .94
Parameter List Length . . . 67, 72-74, 95, 96, 99-101, 103, 109, 110, 112-114, 
                            132, 134-138, 362, 401, 431
PARAMETER LIST LENGTH ERROR . . . . . . . . . . . . . . . . . . . 113, 132, 431
parameter list length field . . . . . . . . . . . . . . .96, 110, 113, 135, 137
PARAMETER NOT SUPPORTED . . . . . . . . . . . . . . . . . . . . . . . .132, 431
parameter pointer control . . . . . . . . . . . . . . . . . . . . . . . . . 111
parameter rounding. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .80
parameter value field . . . . . . . . . . . . . . . . . . . . . . . . . . . 145
PARAMETER VALUE INVALID . . . . . . . . . . . . . . . . . . . . . . . .132, 431
PARAMETERS CHANGED. . . . . . . . . . . . . . . . . . . 110, 112, 131, 132, 431
parameters savable. . . 149, 210, 214, 217, 220-222, 229, 231, 281, 282, 285, 
                        328-330, 336, 354, 378, 405, 407, 409
parity select field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 281
parity selection field. . . . . . . . . . . . . . . . . . . . . . . . . . . 286
partial medium indicator. . . . . . . . . . . . . . . . . . . . . . . .182, 313
partial results acceptable. . . . . . . . . . . . . . . . . . . . . . . . . 362
partition field . . . . . . . . . . . . . . . . . . . . . . . . . 245, 266, 267
partition size descriptor . . . . . . . . . . . . . . . . . . . . . . .269, 270
partition size field. . . . . . . . . . . . . . . . . . . . . . . . . . . . 270
partition size unit of measure. . . . . . . . . . . . . . . . . . . . . . . 269
pattern field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 195
pattern length field. . . . . . . . . . . . . . . . . . . . . . . . . .176, 195
pattern type field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 176
PAUSE RESUME command. . . . . . . . . . . . . . . . . . . . . . . . . .xxv, 306
PCR bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 109
PER bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .223, 271
Peripheral Device Page. . . . xxii, 149, 154, 210, 266, 280, 327, 353, 377, 419
peripheral device type field. . . . . . . . . . . . . . . . . . . . . . 155-159
PERIPHERAL DEVICE WRITE FAULT . . . . . . . . . . . . . . . . . . . . .132, 429
peripheral qualifier field. . . . . . . . . . . . . . . . . . . . . . . 155-159
PF bit. . . . . . . . . . . . . . . . . . . . . . . . . . . .112, 134, 135, 138
physical block data . . . . . . . . . . . . . . . . . . . . . . . . . . . . 205
pin 1 field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 216
pin 34 field. . . . . . . . . . . . . . . . . . . . . . . . . . xxiii, 215, 216
pin 4 field . . . . . . . . . . . . . . . . . . . . . . . . . . . . .xxiii, 215
PIPC. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .280, 281
PLAY AUDIO MSF command. . . . . . . . . . . . . . . . . . . . . . . . .xxv, 309
PLAY AUDIO TRACK INDEX command. . . . . . . . . . . . . . . . . . . . .xxv, 310
PLAY AUDIO(10) command. . . . . . . . . . . . . . . . . . . . . . xxv, 307, 308
PLAY AUDIO(12) command. . . . . . . . . . . . . . . . . . . . . . . . .xxv, 308
Plist bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .183, 184
PMI bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 162, 182, 313
POSITION ERROR RELATED TO TIMING. . . . . . . . . . . . . . . . . . . .132, 432
position function field . . . . . . . . . . . . . . . . . . . . . . . . . . 347
POSITION PAST BEGINNING OF MEDIUM . . . . . . . . . . . . . . . . . . .132, 432
POSITION PAST END OF MEDIUM . . . . . . . . . . . . . . . . . . . . . .132, 432
POSITION TO ELEMENT command . . . . . . . . . . . . . . . . . . . . .xxvii, 387
POSITIONING ERROR DETECTED BY READ OF MEDIUM. . . . . . . . . . . . . .132, 430
post error. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .223, 271
POWER ON, RESET, OR BUS DEVICE RESET OCCURRED . . . . . . . . . . . . .132, 431
POWER-ON OR SELF-TEST FAILURE (SHOULD USE 40 NN). . . . . . . . . . . .132, 432
Power-On to Selection Time. . . . . . . . . . . . . . . . . . . . . .36, 37, 50
PPC bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 111
PRA . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .362, 363
PRE-FETCH command . . . . . . . . . . . . . . . . . . . . . . . . . .xxiii, 178
prevent . . . . xxiii, 27, 51, 65, 108, 161, 163-165, 168, 179, 189, 241, 254, 
                268, 295, 305, 359, 383, 436
PREVENT ALLOW MEDIUM REMOVAL command. . . . . . . . . . . . . . xxiii, 161, 179
prevent bit . . . . . . . . . . . . . . . . . . . . . . . . .164, 179, 189, 254
primary defect list . . . . . . . . . . . . . . . .132, 169, 173, 183, 184, 431
PRIMARY DEFECT LIST NOT FOUND . . . . . . . . . . . . . . . . . . . . .132, 431
primary volume tag. . . . . . . . . . . . . . . . . . . . . . 382, 391-395, 402
primary volume tag information field. . . . . . . . . . . . . . . . . . . . 391
PRINT command . . . . . . . . . . . . . . . . . . . . . xxiv, 276-278, 283, 284
printer devices . . . . . . . xxiv, xxx, 123, 124, 273, 274, 277, 279, 280, 285
Printer Options Page. . . . . . . . . . . . . . . . . . . . .277, 278, 280, 282
priority field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 97, 211
product identification field. . . . . . . . . . . . . . . . . . . . . . . . 108
product serial number field . . . . . . . . . . . . . . . . . . . . . . . . 159
progress indication field . . . . . . . . . . . . . . . . . . . . . . . . . 126
PS bit. . . . . 113, 115, 149, 173, 210, 214, 217, 220-222, 229, 231, 281, 282, 
                285, 328-330, 336, 354, 378, 405, 407, 409
PSUM. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .269, 270
PVolTag . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 391-395
QErr bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 150
queue algorithm modifier field. . . . . . . . . . . . . . . . . . . . . . . 150
queue error management. . . . . . . . . . . . . . . . . . . . . . . . . 85, 150
QUEUE FULL status . . . . . . . . . . . . . . . . . . . . . . . . . . . . 83-85
queue tag . . . . . . . xxi, 4, 51, 55, 57, 60, 61, 63, 64, 77, 83-87, 150, 151
queued I/O process. . . . . . . . . . . . . . . . . . . . . . . . 4, 58, 85, 86
RAENP bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
RAM FAILURE (SHOULD USE 40 NN). . . . . . . . . . . . . . . . . . . . .132, 432
RANDOM POSITIONING ERROR. . . . . . . . . . . . . . . . . . . . . . . .132, 430
RAREA bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 207
RBO . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 252, 266, 267
RC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 223
RCD bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211
READ BLOCK LIMITS command . . . . . . . . . . . . . . . . . xxiv, 246, 248, 259
READ BUFFER command . . . . . . . . . . . . . . . . . . xxi, 118, 119, 136, 137
read cache disable. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211
READ CAPACITY command . . . . . . . . . . . . . . . . xxiii, 161, 182, 184, 313
READ CD-ROM CAPACITY command. . . . . . . . . . . . . . . . .xxv, 299, 300, 313
read continuous . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 223
READ DEFECT DATA(10) command. . . . . . . . . . . . . . . . . . . . . . . . 364
READ DEFECT DATA(12) command. . . . . . . . . . . . . . . . . . . . . xxvi, 364
READ ELEMENT STATUS command . . . . . . . . xxvii, 381, 382, 385, 388, 389, 397
read exclusive. . . . . . . . . . . . . . . . . . . . . . . . . . . . .190, 191
READ GENERATION command . . . . . . . . . . . . . . . . . . . . . . . xxvi, 366
READ HEADER command . . . . . . . . . . . . . . . . . . . . . . . . . .xxv, 314
read inhibit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 197
READ LONG command . . . . . . . . . . . . . . . . . . . . . . . xxiii, 185, 204
READ PAST BEGINNING OF MEDIUM . . . . . . . . . . . . . . . . . . . . .132, 432
READ PAST END OF MEDIUM . . . . . . . . . . . . . . . . . . . . . . . .132, 432
READ POSITION command . . . . . . . . . . . . . . . . . . . . . .xxiv, 239, 249
READ RETRIES EXHAUSTED. . . . . . . . . . . . . . . . . . . . . . . . .132, 430
READ REVERSE command. . . . . . . . . . . . . . . . . . . . . . . . . xxiv, 251
read shared . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .190, 191
READ SUB-CHANNEL command. . . . . . . . . . . . . . . . . . . . . xxv, 300, 316
READ TOC command. . . . . . . . . . . . . . . . . . . . . . . . . xxv, 298, 323
READ(10) command. . . . . . . . . . . . . . . . . . . xxiii, 180, 181, 202, 364
READ(12) command. . . . . . . . . . . . . . . . . . . . . . . . . . . xxvi, 364
Read-Write Error Recovery Page. . . xxiii, xxiv, 203, 210, 222, 231, 240, 266, 
                                    270, 377
ready AEN permission. . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
REASSIGN BLOCKS command . . . . . . . .xxiii, 162, 165, 170, 186, 187, 223, 358
RECEIVE command . . . . . . . . . . . . . . . . . . . . . . . xxv, 287-289, 292
RECEIVE DIAGNOSTIC RESULTS command. xxii, 92, 121, 134, 135, 138, 139, 206, 207
reconnect . . . . 3, xxii, 4, 43, 59-62, 64, 79, 82, 84, 144, 149, 152, 210, 
                  265, 280, 287, 327, 353, 377, 411, 412, 419
RECORD NOT FOUND. . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 430
RECORDED ENTITY NOT FOUND . . . . . . . . . . . . . . . . . . . . . . .132, 430
recover buffer order. . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
RECOVER BUFFERED DATA command . . . . . . . . . . xxiv, 240, 252, 267, 276, 278
RECOVERED DATA - DATA AUTO-REALLOCATED. . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA - RECOMMEND REASSIGNMENT . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA - RECOMMEND REWRITE. . . . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA USING PREVIOUS SECTOR ID . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH CIRC. . . . . . . . . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH ERROR CORRECTION &amp; RETRIES APPLIED. . . . . . . . .132, 430
RECOVERED DATA WITH ERROR CORRECTION APPLIED. . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH L-EC. . . . . . . . . . . . . . . . . . . . . . . . . . 132
RECOVERED DATA WITH NEGATIVE HEAD OFFSET. . . . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH NO ERROR CORRECTION APPLIED . . . . . . . . . . . .132, 430
RECOVERED DATA WITH POSITIVE HEAD OFFSET. . . . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH RETRIES . . . . . . . . . . . . . . . . . . . . . .132, 430
RECOVERED DATA WITH RETRIES AND/OR CIRC APPLIED . . . . . . . . . . . .132, 430
RECOVERED DATA WITHOUT ECC - DATA AUTO-REALLOCATED. . . . . . . . . . .132, 430
RECOVERED DATA WITHOUT ECC - RECOMMEND REASSIGNMENT . . . . . . . . . .132, 430
RECOVERED DATA WITHOUT ECC - RECOMMEND REWRITE. . . . . . . . . . . . .132, 430
RECOVERED ERROR . . . . . 80, 122, 125, 128, 142, 145, 166, 173, 184, 224-227, 
                          230, 240, 247, 251, 259, 261, 294, 304, 331-335, 
                          358, 370, 378
RECOVERED ID WITH ECC . . . . . . . . . . . . . . . . . . . . . . . . .132, 431
REFERENCE POSITION FOUND. . . . . . . . . . . . . . . . . . . . . . . .131, 429
RelAdr bit. . . . . . . . 107, 177, 178, 181, 182, 185, 193, 199, 200, 202-205, 
                          360, 362, 363, 366, 367, 369, 371, 372, 374
RELEASE command . . . . . . . . . . . . . . . . .xxiii, xxvii, 187-190, 398-400
RELEASE RECOVERY. . . . . . . . . . . . . . . . . . . . . . . 3, 41, 55, 64, 83
RELEASE UNIT command. . . . . . . . . . . . . . . . . . . . . . .xxiv, 253, 254
removable . . . . . . . 81, 88, 92, 106, 128, 161, 162, 167, 219, 357, 381, 410
report early-warning. . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
report log exception condition. . . . . . . . . . . . . . . . . . . . . . . 150
report setmarks . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 267
report updated block read . . . . . . . . . . . . . . . . . . . . . . .370, 378
REPOSITION ERROR. . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 432
REQUEST SENSE command . .xxii, 41, 67, 80, 82, 88, 92, 95, 122, 123, 127, 156, 
                         169, 193, 194, 287, 302, 339, 363, 412
request to send . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 286
REQUEST VOLUME ELEMENT ADDRESS command. . . . . . . . . . .xxvii, 396, 401, 402
RESELECTION Phase . . . . . . . . . . . . 4, 34, 38, 41-44, 50, 57, 61, 86, 421
RESERVATION CONFLICT status . . . . . . . .164, 169, 189-192, 254, 255, 399-401
reservation identification field. . . . . . . . . . . . . . . . . . . . . . 189
reservation type field. . . . . . . . . . . . . . . . . . . . . . . . . . . 190
RESERVE command . . . . xxiii, xxvii, 112, 165, 188-192, 254, 255, 397, 399-401
RESERVE UNIT command. . . . . . . . . . . . . . . . . . . . . . . xxiv, 253-255
reserved area . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 207
reset condition . . . .3, 33, 38, 41, 47, 49-52, 59, 65, 67-69, 76, 79, 80, 82, 
                       83, 88, 95, 108, 112, 116, 117, 179, 189-191, 254, 264, 
                       399, 400, 401
Reset Hold Time . . . . . . . . . . . . . . . . . . . . . . . . . . .36, 38, 51
Reset to Selection Time . . . . . . . . . . . . . . . . . . . . . . .36, 38, 51
RESTORE POINTERS. . . . . . . . . . . . . . . . . . .54, 55, 57, 60, 62, 65, 78
resume bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 306
retain bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 278
reverse scan direction. . . . . . . . . . . . . . . . . . . . . . . . . . . 362
REW . . . . . . . . . . . . . . . . . . . . . . 247, 257-259, 261, 266-268, 272
REWIND command. . . . . . . . . . . . . . . . . . . . . . . .xxiv, 81, 236, 255
REZERO UNIT command . . . . . . . . . . . . . . . . . . . . . . xxiii, 165, 192
RIBBON, INK, OR TONER FAILURE . . . . . . . . . . . . . . . . . . . . .132, 431
RIF . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .344, 346
Rigid Disk Drive Geometry Page. . . . . . . . . . . . . . . . . . . . xxiv, 229
RLEC bit. . . . . . . . . . . . . . . . . . . . . . . . . . .142, 143, 145, 150
RMB bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 106
rotate bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 409
ROUNDED PARAMETER . . . . . . . . . . . . . . . . . . . . . . . . .81, 132, 432
RPL . . . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 229, 230, 433
RPL STATUS CHANGE . . . . . . . . . . . . . . . . . . . . . . . . 132, 230, 433
RSD . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 362
RSmk. . . . . . . . . . . . . . . . . . . 102, 123, 247, 252, 256-258, 266, 267
RTS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .285, 286
RUBR. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 378
save bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .93
SAVE DATA POINTER . . . . . . . . . . . . . . . . . . . .52, 54, 55, 59, 65, 78
save implemented. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 157
save parameters . . . . . . . . . . . . . . . . . . . . . . . . . 109, 111, 219
SavImp bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 157
SAVING PARAMETERS NOT SUPPORTED . . . . . . . . . . . . . . . . . 116, 132, 432
SCAN command. . . . . . . . . . . . . . . . .xxvi, 293, 341, 350, 358, 362, 363
SCAN HEAD POSITIONING ERROR . . . . . . . . . . . . . . . . . . . . . .132, 433
scanner devices . . . . . . . . . . . . . . .xxvi, xxx, 339, 340, 352, 353, 355
SCSI ID . . . . . . . . . . . . . . . .5, 31, 34, 37, 42, 43, 82, 381, 421, 422
SCSI PARITY ERROR . . . . . . . . . . . . . . . . . . . . . . . . . . .132, 432
SCSI Pointers . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .54
SCSI TO HOST SYSTEM INTERFACE FAILURE . . . . . . . . . . . . . . . . .132, 433
SCSI-2. . . . 2, xxvii, xxx, xxxi, 1, 5, 6, 9, 33, 43, 74, 79, 84, 91, 94, 95, 
              149, 187, 189, 421, 427, 429, 435, 439
SCTE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .282, 283
SDP . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 269
search argument descriptor. . . . . . . . . . . . . . . . . . . . . . .194, 195
search argument length field. . . . . . . . . . . . . . . . . . . . . . . . 194
sectors per track field . . . . . . . . . . . . . . . . . . . . . . . .214, 218
SEEK(10) command. . . . . . . . . . . . . . . . . . . . . . . . . . .xxiii, 196
segment descriptor. . . . . . . . . . . . . . . . . . . . xxi, 96-102, 123, 124
segment number field. . . . . . . . . . . . . . . . . . . . . . . . . . . . 123
select data compression algorithm field . . . . . . . . . . . . . . . . . . 268
select data partitions. . . . . . . . . . . . . . . . . . . . . . . . . . . 269
SELECT OR RESELECT FAILURE. . . . . . . . . . . . . . . . . . . . . . .132, 432
Selection Abort Time. . . . . . . . . . . . . . . . . . . . 36, 38, 43, 44, 422
SELECTION Phase . . . . . . . . . . . . . 3, 34, 41-43, 50, 57, 60, 77, 86, 421
Selection Time-out Delay. . . . . . . . . . . . . . . . . . . . .36, 38, 43, 44
self test . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 92, 128
send action code field. . . . . . . . . . . . . . . . . . . . . . 398, 401, 402
SEND DIAGNOSTIC command . . . . . . . . . xxii, 92, 121, 134, 138, 139, 206-208
SEND MESSAGE(10) command. . . . . . . . . . . . . . . . . . . . . . .xxvii, 416
SEND MESSAGE(12) command. . . . . . . . . . . . . . . . . . . . . . .xxvii, 417
SEND VOLUME TAG command . . . . . . . . . . . xxvii, 381, 382, 396-398, 401-403
sense key field . . . . . . . . . . . . . . . . . . . . . . . . . . . .124, 125
sense-key specific field. . . . . . . . . . . . . . . . . . . . . . . .125, 126
sense-key specific valid. . . . . . . . . . . . . . . . . . . . . . . . . . 125
SEQUENTIAL POSITIONING ERROR. . . . . . . . . . . . . . . . . . . . . .133, 432
sequential-access devices . . .xxiv, xxx, 80, 97, 101, 102, 123, 124, 148, 233, 
                               239, 241, 242, 262, 263, 265
Serial Printer Interface Page . . . . . . . . . . . . . . . . . . . . .280, 285
SET LIMITS(10) command. . . . . . . . . . . . . . . . . . . . . . . . . . . 368
SET LIMITS(12) command. . . . . . . . . . . . . . . . . . . . . . . . xxvi, 368
SET WINDOW command. . . . . . . . . . . . . . . . . . . . . . . .xxvi, 345, 351
SETMARK DETECTED. . . . . . . . . . . . . . . . . .133, 247, 252, 256, 257, 429
SEW . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 259, 261, 266-268
SftRe bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 51, 108
SILI. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 246, 251, 252
SIMPLE QUEUE TAG. . . . . . . . . . . . . . . . .55, 61, 63, 64, 77, 84-86, 150
single bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 42, 343
SKSV bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .125, 126
SLEW AND PRINT command. . . . . . . . . . . . . . . . . xxiv, 276-278, 283, 284
SLEW FAILURE. . . . . . . . . . . . . . . . . . . . . . . . . . . . . .133, 432
slew mode field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 283
slew value field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 277
SOCF. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 266-268
soft sector . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .218, 219
SOTC. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 307-312, 327, 328
source block length field . . . . . . . . . . . . . . . . . . . . . . . . . 101
source logical block address field. . . . . . . . . . . . . . . . . . . . . 100
source storage element address field. . . . . . . . . . . . . . . . . .393, 394
source valid. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 393
SP bit. . . . . . . . . . . . . . . . . . . . . . . . . 109, 111, 113, 116, 141
SPACE command . . . . . . . . . . . . . . . . . . . . . . . . . . . . xxiv, 256
spanned data. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 193
speed field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . xxiv, 263
SPINDLE SERVO FAILURE . . . . . . . . . . . . . . . . . . . . . . . . .133, 429
SPINDLES NOT SYNCHRONIZED . . . . . . . . . . . . . . . . . . . . . . .133, 433
SPINDLES SYNCHRONIZED . . . . . . . . . . . . . . . . . . . . . . . . .133, 433
SpnDat bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 193
SSEC bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 218
SSN bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 215
st. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 405
start . . . . . xxiii, 3, 54, 81, 108, 135, 161, 162, 164, 167, 168, 193, 195, 
                198, 214, 215, 282, 283, 295, 305-307, 310, 311, 324, 338, 359,
                381, 435
start bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 198
start sector number . . . . . . . . . . . . . . . . . . . . . . . . . . . . 215
starting boundary field . . . . . . . . . . . . . . . . . . . . . . . . . . 221
starting F field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
starting index field. . . . . . . . . . . . . . . . . . . . . . . . . . . . 310
starting M field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
starting S field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 309
starting track field. . . . . . . . . . . . . . . . . . . . . . . 310, 311, 323
status. . . . . .3, xxi, xxv, xxvi, xxvii, xxx, 3, 5, 31, 33, 34, 37, 38, 41, 
                 44, 45, 47-52, 54, 58-62, 65, 67, 71, 75-77, 80-89, 92, 95, 
                 98, 99, 101, 102, 104, 108-113, 115-117, 119, 122, 125-128,
                 131, 132, 134, 135, 137, 139, 140, 142, 143, 145, 149, 153, 
                 162, 164-166, 169, 170, 172-174, 176, 178, 181-185, 187-194, 
                 197-200, 203-206, 209, 211, 214, 218, 219, 223-228, 230, 233, 
                 238, 240, 243-247, 251-263, 267, 271, 276-278, 280, 283, 284,
                 287, 292, 293, 302-304, 306, 307, 309, 310, 312, 317, 318, 
                 320, 321, 323, 328, 331-335, 339-342, 347-349, 351, 354, 358, 
                 360, 363, 367, 370-372, 374, 376-378, 381-386, 388-393, 
                 397-401, 407, 408, 411, 423, 429, 433, 435, 436, 438
STATUS Phase. . . . . . . . . . . . . . . . . . . . . . 41, 48, 50, 76, 77, 423
step count truncate enable. . . . . . . . . . . . . . . . . . . . . . . . . 283
step pulse per cylinder . . . . . . . . . . . . . . . . . . . . . . . . . . 215
stop bit length field . . . . . . . . . . . . . . . . . . . . . . . . . . . 286
stop format . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
stop on consecutive filemarks . . . . . . . . . . . . . . . . . . . . . . . 267
stop on track crossing. . . . . . . . . . . . . . . . . . . . . . 310, 311, 328
STOP PRINT command. . . . . . . . . . . . . . . . . . . . . . . . . . xxiv, 278
storage element . . . . . xxvii, 379, 381, 384, 386, 388, 392-395, 405-407, 410
STPF bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 173
stream selection field. . . . . . . . . . . . . . . . . . . . . . . . . 414-417
sub Q bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .316, 317
sub-channel data format field . . . . . . . . . . . . . . . .316, 317, 321, 322
sub-channel data header . . . . . . . . . . . . . . . . . . . . . 317, 320, 321
sub-channel data length field . . . . . . . . . . . . . . . . . . . . . . . 317
SubQ. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 316
supplied format field . . . . . . . . . . . . . . . . . . . . . . . . .206, 207
Supported Diagnostic Pages. . . . . . . xxii, 139, 206, 262, 279, 325, 352, 404
Supported Log Pages . . .xxii, 143, 145, 146, 208, 262, 279, 325, 353, 404, 418
supported page list field . . . . . . . . . . . . . . . . . . . . 140, 146, 158
Supported Vital Product Data Pages. . . . . . . . . . . . . . . .xxii, 155, 158
suppress incorrect length indicator . . . . . . . . . . . . . . . . . . . . 246
SURF bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 219
surface . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .219, 355
SValid. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 392-395
SYNCHRONIZE BUFFER command. . . . . . . . . . . . . . . . . . . .xxiv, 278, 284
SYNCHRONIZE CACHE command . . . . . . . . . . . . . . . . .xxiii, 165, 198, 199
SYNCHRONOUS DATA TRANSFER ERROR . . . . . . . . . . . . . . . . . . . .133, 431
SYNCHRONOUS DATA TRANSFER REQUEST . . . . . . . . . . . . . xxi, 55, 57, 65, 82
SYSTEM RESOURCE FAILURE . . . . . . . . . . . . . . . . . . . . . . . .133, 433
TAPE LENGTH ERROR . . . . . . . . . . . . . . . . . . . . . . . . . . .133, 431
TAPE OR ELECTRONIC VERTICAL FORMS UNIT NOT READY. . . . . . . . . . . .133, 432
TAPE POSITION ERROR AT BEGINNING-OF-MEDIUM. . . . . . . . . . . . . . .133, 432
TAPE POSITION ERROR AT END-OF-MEDIUM. . . . . . . . . . . . . . . . . .133, 432
target certification list . . . . . . . . . . . . . . . . . . . . . . . . . 170
TARGET OPERATING CONDITIONS HAVE CHANGED. . . . . . . . . . . . . . . .133, 432
target routine. . . . . . . . . . . . . . .4, 5, 57-60, 63, 80, 82, 84, 91, 290
target save disable . . . . . . . . . . . . . . . . . . . . . . . . . . . . 141
TB bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .223, 271
TCVal . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 317, 319, 322
TERMINATE I/O PROCESS . . . . . . . . . . . . . . . . . . . 55, 67, 77, 79, 107
TEST UNIT READY command . . . . . . . . . . . .xxii, 82, 92, 135, 161, 287, 339
third party . . . . . . . . . . . . . .96, 112, 187, 189, 191, 253-255, 398-400
third party reservation . . . . . . . . . . . . . . . . . . .112, 191, 254, 400
THRESHOLD CONDITION MET . . . . . . . . . . . . . . . . . . . . . 133, 142, 433
threshold field . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 345
threshold met criteria. . . . . . . . . . . . . . . . . . . . . . . . xxii, 142
THRESHOLD PARAMETERS NOT SUPPORTED. . . . . . . . . . . . . . . . . . .133, 431
TOO MANY WINDOWS SPECIFIED. . . . . . . . . . . . . . . . . . . . . . .133, 431
track code valid. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 319
TRACK FOLLOWING ERROR . . . . . . . . . . . . . . . . . . . . . . . . .133, 429
track number field. . . . . . . . . . . . . . . . . . . . . . . . . . .317, 324
track relative CD-ROM address field . . . . . . . . . . . . . . . . . . . . 319
track skew factor field . . . . . . . . . . . . . . . . . . . . . . . . . . 218
TRACKING SERVO FAILURE. . . . . . . . . . . . . . . . . . . . . . . . .133, 429
tracks per zone field . . . . . . . . . . . . . . . . . . . . . . . . .217, 218
transfer block. . . . . . . . . . . . . . . . . . . . . . . . . . .223-227, 271
Transfer Length . . 54, 67, 72-74, 137, 148, 178, 180-182, 185, 200-204, 210, 
                    212, 241, 246, 247, 251-253, 259-262, 272, 275-277, 283, 
                    290, 303, 307, 308, 311, 312, 328, 343, 349-351, 360, 361, 
                    364, 368, 372-374, 416, 417
Transfer Period . . . . . . . . . . . . . . . . . . .36, 38, 45-47, 65, 66, 425
Translate Address Page - RECEIVE DIAGNOSTIC . . . . . . . . . . xxiii, 206, 207
Translate Address Page - SEND DIAGNOSTIC. . . . . . . . . . . . . . .xxiii, 206
translate format field. . . . . . . . . . . . . . . . . . . . . . . . .206, 208
translated address field. . . . . . . . . . . . . . . . . . . . . . . . . . 208
transport element address field . . . . . . . . . . . . . . . . . . . .380, 407
transport geometry descriptor . . . . . . . . . . . . . . . . . . . . . . . 409
true ready. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .214, 215
TSD bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .109, 141
UAAENP bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 151
UNABLE TO ACQUIRE VIDEO . . . . . . . . . . . . . . . . . . . . . . . .133, 433
UNABLE TO RECOVER TABLE-OF-CONTENTS . . . . . . . . . . . . . . . . . .133, 433
unexpected disconnect . . . . . . . . . .3, 5, 47, 49, 50, 57, 60, 76, 122, 126
unexpected reselection. . . . . . . . . . . . . . . . . . . . . . . . . . . .82
UNIT ATTENTION. . . . . . 51, 59, 79, 81, 82, 85, 88, 89, 94, 95, 104, 110, 
                          112, 128, 138, 142, 148, 150, 151, 166, 188, 190, 
                          230, 240, 253, 264, 294, 304, 358, 400
unit attention AEN permission . . . . . . . . . . . . . . . . . . . . . . . 151
unit off-line . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 134
Unit Serial Number Page . . . . . . . . . . . . . . . . . . . . .xxii, 155, 159
UnitOfl bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 134
UNLOAD TAPE FAILURE . . . . . . . . . . . . . . . . . . . . . . . . . .133, 433
UNRECOVERED READ ERROR. . . . . . . . . . 133, 166, 239-241, 294, 304, 358, 430
UNRECOVERED READ ERROR - AUTO REALLOCATE FAILED . . . . . . . . . . . .133, 430
UNRECOVERED READ ERROR - RECOMMEND REASSIGNMENT . . . . . . . . . . . .133, 430
UNRECOVERED READ ERROR - RECOMMEND REWRITE THE DATA . . . . . . . . . .133, 430
UNSUCCESSFUL SOFT RESET . . . . . . . . . . . . . . . . . . . . . . . .133, 432
UPDATE BLOCK command. . . . . . . . . . . . . . . . . .xxvi, 369, 370, 376, 378
UPDATED BLOCK READ. . . . . . . . . . . . . . . . . . . . . .133, 370, 378, 433
VCBP. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .280, 281
VCBS. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .280, 281
vendor identification field . . . . . . . . . . . . . . . . . . . . . . . . 108
verification length field . . . . . . . . . . . . . . . . . . . . . . . . . 200
verify correction span field. . . . . . . . . . . . . . . . . . . . . . . . 231
Verify Error Recovery Page. . . . . . . . . . . . xxiv, 203, 210, 231, 327, 377
verify recovery time limit field. . . . . . . . . . . . . . . . . . . . . . 231
verify retry count field. . . . . . . . . . . . . . . . . . . . . .224-226, 231
VERIFY(10) command. . . . . . . . . . . . . . . . . . .xxvi, 370, 371, 373, 374
VERIFY(12) command. . . . . . . . . . . . . . . . . . . . . . . .xxvi, 371, 374
vertical forms unit . . . . . . . . . . . . . . . . . . . . . 133, 281-283, 432
VES . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .280, 281
VFU . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . xxiv, 281
VFU control bit polarity. . . . . . . . . . . . . . . . . . . . . . . . . . 281
VFU control bit select. . . . . . . . . . . . . . . . . . . . . . . . . . . 281
VFU extended skip . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 281
VIDEO ACQUISITION ERROR . . . . . . . . . . . . . . . . . . . . . . . .133, 433
Vital Product Data Parameters . . . . . . . . . . . . . . . . . . . . . .7, 154
VolTag. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 388, 396, 397
volume identification field . . . . . . . . . . . . . . . . . . . . . . . . 382
volume identification template field. . . . . . . . . . . . . . . . . . . . 403
VOLUME OVERFLOW . . . . . . . . . . . . . . . . . . . . .129, 240, 259-262, 267
volume sequence number field. . . . . . . . . . . . . . . . . . . . . .382, 403
volume tag. . . . . . . . . . .xxvi, xxvii, 381-383, 388, 391-398, 401-403, 438
wait bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 341
WBS . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 362
WCE bit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211
WIDE DATA TRANSFER REQUEST. . . . . . . . . . . . . . . . . .46, 55, 57, 67, 68
window length field . . . . . . . . . . . . . . . . . . . . . . . . . . . . 345
window width field. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 345
WP bit. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 209, 263, 376
WRITE AND VERIFY(10) command. . . . . . . . . . . . . . . . . . .xxvi, 373, 374
WRITE AND VERIFY(12) command. . . . . . . . . . . . . . . . . . . . . xxvi, 374
WRITE APPEND ERROR. . . . . . . . . . . . . . . . . . . . . . . . . . .133, 432
WRITE APPEND POSITION ERROR . . . . . . . . . . . . . . . . . . . . . .133, 432
WRITE BUFFER command. . . . . . . . . . . . . . . . . .xxii, 118, 119, 136, 138
write cache enable. . . . . . . . . . . . . . . . . . . . . . . . . . . . . 211
WRITE ERROR . . xxiii, xxiv, 124, 133, 203, 210, 222, 231, 238, 240, 241, 266, 
                270, 271, 377, 430
WRITE ERROR - AUTO REALLOCATION FAILED. . . . . . . . . . . . . . . . .133, 430
WRITE ERROR RECOVERED WITH AUTO REALLOCATION. . . . . . . . . . . . . .133, 430
write exclusive . . . . . . . . . . . . . . . . . . . . . . . . . . . .190, 191
WRITE FILEMARKS command . . . . . . . . xxiv, 238, 244, 255, 259, 261, 262, 268
write inhibit . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 197
WRITE LONG command. . . . . . . . . . . . . . . . . . . . . . . . . .xxiii, 204
write precompensation field . . . . . . . . . . . . . . . . . . . 214, 215, 230
write protect . . . . . . . . . . . . . . . . . . . . . .81, 132, 209, 263, 433
WRITE PROTECTED . . . . . . . .133, 166, 209, 233, 240, 263, 294, 358, 376, 431
write retention priority field. . . . . . . . . . . . . . . . . . . . . . . 211
WRITE SAME command. . . . . . . . . . . . . . . . . . . . . . . . . .xxiii, 205
write setmark . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 261
WRITE(10) command . . . . . . . . . . . . . . . .xxiii, xxvi, 201-203, 372, 373
WRITE(12) command . . . . . . . . . . . . . . . . . . . . . . . . . . xxvi, 373
written block search. . . . . . . . . . . . . . . . . . . . . . . . . . . . 362
WSmk. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 261
X-axis resolution field . . . . . . . . . . . . . . . . . . . . . . . . . . 345
X-axis upper left field . . . . . . . . . . . . . . . . . . . . . . . . . . 345
Y-axis resolution field . . . . . . . . . . . . . . . . . . . . . . . . . . 345
Y-axis upper left field . . . . . . . . . . . . . . . . . . . . . . . . . . 345
</PRE>

<HR>
<A HREF="SCSI2-E.html"><IMG SRC="Icons/prev-small.gif"></A>
<A HREF="SCSI2.html"><IMG SRC="Icons/up-small.gif"></A>
</BODY>
